services:
  consumer:
    build: ./test-environment/consumer
    container_name: confuzz-testbed-consumer
    ports:
      - "5050:5000"
    volumes:
      - ./test-environment/consumer:/app
    networks:
      - testbed_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PRODUCER_URL=http://localhost:5051
      - HTTP_PROXY=http://host.docker.internal:8080
      - HTTPS_PROXY=http://host.docker.internal:8080
    depends_on:
      - producer
    command: watchmedo auto-restart --directory=/app --pattern=*.py --recursive -- uvicorn main:app --host 0.0.0.0 --port 5000

  producer:
    build: ./test-environment/producer
    container_name: confuzz-testbed-producer
    ports:
      - "5051:5000"
    environment:
      - PRODUCER_URL=http://localhost:5051
    volumes:
      - ./test-environment/producer:/app
    networks:
      - testbed_network
    command: watchmedo auto-restart --directory=/app --pattern=*.py --recursive -- uvicorn main:app --host 0.0.0.0 --port 5000

networks:
  testbed_network:
    driver: bridge
